@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Saira+Stencil&family=Goldman&display=swap');
@import "tailwindcss";

@theme {

  --shadow-sm: 0 1px 3px rgba(0,0,0,0.06),0 1px 2px rgba(0,0,0,0.04);
  --shadow-md: 0 4px 12px rgba(0,0,0,0.08),0 2px 4px rgba(0,0,0,0.04);
  --shadow-lg: 0 12px 32px rgba(0,0,0,0.10),0 4px 8px rgba(0,0,0,0.06);

  --color-title: #AAAAAA;
  --color-secondary: #1c1c1c;
  --color-tertiary : #666666;
  --color-tertiary-change : #E8E8E8;
  --color-divider: #E8E8E5;
  --color-button-border: #D4D4D0;
  --color-active-border: #BBBBB6;
  --color-logo: #7F77DD;

  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 12px;
  --rounded-xl: 20px;

  --text-sm: [clamp("12px,1vw,15px")],
  --text-md: [clamp("12px,1vw,15px")],
  --text-lg: [clamp("12px,1vw,15px")],
}

@layer base {

  body {
    @apply h-screen box-border m-0 p-0;
  }
}

@utility flex-bw-ic{
  @apply flex justify-between items-center;
}

@utility flex-jc-ic{
  @apply flex justify-center items-center p-5;
}

@utility flex-ic{
  @apply flex items-center;
}

@layer components{

      .side-bar {
        @apply font-sans bg-secondary border-r-[0.5px] overflow-hidden border-divider h-screen w-1/5 flex flex-col;

        .side-bar-section {
          @apply text-white flex flex-col gap-3 py-3 px-4 font-serif;

          .name-section {
            @apply flex;

            & h2{
              @apply hidden md:block text-title text-[clamp(9px,1.4vw,14px)] font-medium mb-2;
            }
          }
          .child-btn{
            @apply flex flex-col items-start;

            .nav-btn{

              @apply flex-ic text-tertiary transition-colors duration-150 rounded-sm hover:text-tertiary-change hover:bg-tertiary w-full p-1 m-0.5;

              .points {
                @apply h-2 w-2 rounded-4xl mx-2;
              }
            }
          }
        }
      }
}